@font-face {
  font-family: "iconfont"; /* Project id 3227760 */
  src: url('//at.alicdn.com/t/font_3227760_wm9kn4oopd.woff2?t=1646706827501') format('woff2'),
       url('//at.alicdn.com/t/font_3227760_wm9kn4oopd.woff?t=1646706827501') format('woff'),
       url('//at.alicdn.com/t/font_3227760_wm9kn4oopd.ttf?t=1646706827501') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 自己加的，进行旋转，详见https://www.jianshu.com/p/dc32e85209e2  */
  display: inline-block;
  &:hover{
		transform: rotate(180deg);
		transition: 2s;
  }
}

.icon-gitee:before {
  content: "\e677";
}

.icon-gitlab:before {
  content: "\e733";
}

.icon-github:before {
  content: "\e885";
}

.icon-shouye:before {
  content: "\e707";
}

.icon-gitbook:before {
  content: "\e661";
}

